
.image-responsive {
  width: 100%
}

.book {
  grid-gap: 12px 0;
  display: grid;
  grid-template-columns: auto minmax(200px, 1fr) minmax(200px, 1fr) 100px;
  padding: 24px 16px;
  &__image {
    max-width: 100px;
    margin-right: 32px;
    flex: 1 0 auto;
  }

  &__title {
    align-self: flex-start;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 360px;
    padding-bottom: 30px;
  }

  &__author {
    padding-bottom: 12px;
  }
  &__controls {
    max-width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.info {
  margin-right: 32px;
}
